@import "tailwindcss";

:root {
    --color-progirls-purple-vibrant: #6600FF;   /* Roxo vibrante */
    --color-progirls-primary: #9929EA;    /* Cor Principal do Site */
    --color-progirls-accent: #B14677;    /* Cor Realce (Rosa/Vinho) */
    --color-progirls-highlight: #CDF527;    /* Cor Principal de Destaque (Verde-limão) */
    --color-progirls-white: #FFFFFF;    /* Branco */
    --color-progirls-black: #000000;    /* Preto */
}

body {
  background-color: var(--color-progirls-black);
  color: var(--color-progirls-white);
}